---
import BaseLayout from "../../layouts/BaseLayout.astro";
import BlogPost from "../../components/BlogPost.astro";

export async function getStaticPaths() {
  const allPosts = Object.values(
    import.meta.glob("../posts/*.md", { eager: true })
  );

  return [
    { params: { tag: "Astro" }, props: {posts: allPosts} },
    { params: { tag: "Successes" }, props: {posts: allPosts} },
    { params: { tag: "Community" }, props: {posts: allPosts} },
    { params: { tag: "Blogging" }, props: {posts: allPosts} },
    { params: { tag: "Setbacks" }, props: {posts: allPosts} },
    { params: { tag: "Learning in Public" }, props: {posts: allPosts} },
  ];
}

const { tag } = Astro.params;
const { posts } = Astro.props;
const filteredPosts = posts.filter((post: any) =>
  post.frontmatter.tags?.includes(tag)
);
---

<BaseLayout pageTitle={tag}>
  <p>Posts tagged with {tag}</p>
  <ul>
    {filteredPosts.map((post: any) => <BlogPost url={post.url} title={post.frontmatter.title}/>)}
  </ul>
</BaseLayout>
